.mat-btn-defect {
    width: 180px;
    height: 110px;
    color: white;
    font-size: 20px;
    line-height: 18px;
}


    .mat-label {
      word-wrap: break-word !important; 
      white-space: pre-wrap !important;
    }
  
